<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    <div class="register-container">
        <h1>Register</h1>
        <form action="/register" method="POST" enctype="multipart/form-data">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" required>

            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" name="prenom" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="photo">Photo:</label> <!-- Champ pour la photo -->
            <input type="file" id="photo" name="photo" accept="image/*" required>

            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>